* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('Montserrat-Medium.ttf')
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-extraLight';
  src: url('Montserrat-ExtraLight.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: 'Montserrat-Medium', 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
  color: #ebebeb;
  background-color: #d9c9b4;
  letter-spacing: 5px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/* Шапка */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url('cupcake icon.svg') center;
  background-size: cover;
}
.page-header,
.page-footer {
  padding-top: 40px;
  padding-bottom: 60px;
}
.header-top {
  margin-bottom: 150px;
}
.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.main-nav {
  float: right;
  margin-top: 35px;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}
.menu {
  list-style: none;
}
.main-nav li {
  float: left;
  margin-right: 54px;
}
.main-nav li:last-child {
  margin-right: 0;
}
.main-nav a {
  display: block;
  color: #ebebeb;
  text-decoration: none;
  text-transform: uppercase;
}
.main-nav a:hover {
  color: #b18d70;
  border-bottom: 1px solid #694834;
}
.main-nav a:active {
  color: #694834;
  border-bottom: 1px solid #2e1d1e;
}
header .promo {
  font-family: 'Montserrat-extraLight';
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 180px;
}
.buy {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  padding: 6px 10px;
  background-color: #b18d70;
  letter-spacing: 3px;
}
.buy:hover {
  background-color: #694834;
}
.buy:active {
  background-color: #2e1d1e;
}
.buy a {
  color: #ebebeb;
  text-decoration: none;
  text-transform: uppercase;
}
.buy a:hover {
  color: #e1dad4;
}
.buy a:active {
  color: #d9c9b4;
}

/*Блок обо мне*/
.my_inf {
  padding-top: 80px;
  padding-bottom: 80px;
}
.my_inf .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.my_photo {
  width: 300px;
}
.my_photo img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 4px #694834;
}
.my_text {
  background-color: #b18d70;
  padding: 40px 40px;
  border-radius: 20px;
  letter-spacing: 2px;
  padding-bottom: 0;
}
.heading {
  font-size: 30px;
  margin-bottom: 30px;
}
.description {
  width: 350px;
  word-wrap: break-word;
  max-height: 240px;
  overflow: hidden;
  position: relative;
}
.description h3,
.description p {
  margin-bottom: 10px;
}

.description .bottom {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgb(255 217 29 / 0%), #b18d70 90%);
  width: 100%;
  height: 60px;
  opacity: 0.8;
  transition: 0.3s;
}
.read-more {
  opacity: 0;
  position: absolute;
}
.read-more:checked ~ .description {
  max-height: none;
}
.read-more:checked ~ .description .bottom {
  opacity: 0;
  transition: 0.3s;
}
.read-more ~ .read-more-button::before {
  content: 'Развернуть';
}
.read-more:checked ~ .read-more-button::before {
  content: 'Свернуть';
}
.read-more-button {
  cursor: pointer;
  display: inline-block;
  color: #694834;
  text-decoration: underline;
}
/*Отзывы*/
.feedback {
  background-color: #d9c9b4;
  padding: 80px 20px;
  padding-bottom: 60px;
}
.feedback .container {
  max-width: 1035px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  width: 300px;
}
.card:last-child {
  margin-right: 0;
}
.card img {
  width: 300px;
  border-radius: 20px;
}
/* Доставка */
.delivery {
  padding: 60px 20px;
  color: #b18d70;
  letter-spacing: 2px;
  font-size: 18px;
}
.delivery .container {
  display: flex;
  justify-content: space-around;
}
.delivery h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

/*Подвал сайта*/
footer {
  background-color: #694834;
}
.page-footer {
  padding-bottom: 30px;
}
.footer-top {
  margin-bottom: 50px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
}
.contact img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.vk {
  margin-bottom: 20px;
}
.vk a,
.wats_up a {
  text-decoration: none;
  color: #ebebeb;
  vertical-align: middle;
  letter-spacing: 3px;
}
.adres b {
  vertical-align: middle;
}
.adres a {
  text-decoration: none;
  text-decoration: underline;
  color: #ebebeb;
}
.adres a p {
  padding-bottom: 5px;
  padding-top: 10px;
  max-width: 300px;
}
.developer b {
  vertical-align: middle;
}
.developer a {
  
  color: #ebebeb;
}
.developer p {
  padding-top: 10px;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
  .logo img {
    width: 90px;
    height: 90px;
  }
  .main-nav {
    font-size: 16px;
    text-align: right;
    margin-top: -5px;
  }
  .main-nav li {
    float: none;
    margin-right: 20px;
    margin-bottom: 3px;
  }
  .main-nav li:last-child {
    margin-right: 20px;
  }
  .promo {
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 160px;
    font-weight: light;
  }
  .my_inf {
    display: block;
    text-align: center;
    padding-bottom: 0;
  }
  .description .bottom {
    background: linear-gradient(to bottom, rgb(255 217 29 / 0%), #d9c9b4 90%);
  }
  .my_photo {
    width: auto;
    margin-bottom: 40px;
  }
  .my_text {
    background-color: #d9c9b4;
    padding: 0;
    height: auto;
    color: #b18d70;
  }
  .heading {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .description {
    width: auto;
    text-align: center;
    margin-right: 0;
    padding: 0 20px;
  }

  .delivery .container {
    display: block;
    padding: 0 20px;
  }
  .delivery h3 {
    font-size: 30px;
    padding-left: 20px;
  }
  .del-left {
    margin-bottom: 30px;
  }
  .footer-bottom {
    display: block;
  }
  .contact,
  .adres,
  .developer {
    padding-left: 20px;
  }
  .adres {
    margin-bottom: 0;
  }
  .adres b {
    margin-bottom: -15px;
  }
  .developer b {
    margin-bottom: -15px;
  }
  .vk,
  .wats_up {
    margin-bottom: 10px;
  }
}
